/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Globals */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
    max-width: 100%
}

@font-face {
    font-family: "Karla";
    src: url("../fonts/Karla-Regular.ttf");
}

body {
    font-family: "Karla", sans-serif;
    background-color: #252729;
    color: #fff;
    padding-left: 6em;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 2.6em;
    margin-bottom: 0;
    letter-spacing: 1px;
}

/* Header */

.logo {
    width: 40%;
    display: block;
    margin: 4em auto 3em auto;
    padding: 2em;
}

.main-nav {
    background-color: #252729;
    position: fixed;
    display: block;
    height: 100%;
    width: 40px;
    top: 0;
    left: 0;
    z-index: 999;
}

.main-nav li{
    margin-top: 9em;

    /* Safari */
    -webkit-transform: rotate(-90deg);

    /* Firefox */
    -moz-transform: rotate(-90deg);

    /* IE */
    -ms-transform: rotate(-90deg);

    /* Opera */
    -o-transform: rotate(-90deg);

    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.main-nav i{
    margin-left: .5em;
}

.main-nav a{
    color:#c7cdd4;
}

.main-nav a:hover{
    color: #fff;
}


/* Page Section - Image List */

.project-thumb {
    width: 33%;
    float: left;
    border: 3px solid #252729;
    position: relative;
}

.project-thumb img {
    position: relative;
    z-index: -10;
    -webkit-transition: all 4s ease; /* Safari and Chrome */
    -moz-transition: all 4s ease; /* Firefox */
    -o-transition: all 4s ease; /* IE 9 */
    -ms-transition: all 4s ease; /* Opera */
    transition: all 4s ease;
    max-width: 100%;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    text-align: center;
    color: #000;
    visibility: hidden;
    opacity: 0;
}

.caption h3{
    color: #fff;
    font-size: 2.5em;
    margin: 0;
}

.page-section .caption p{
    margin: 0;
    color: #fff;
    font-size: 1.1em;
}

.project-thumb:hover {
    background-color: hsla(0, 0%, 0%, .5)
}

.project-thumb:hover .caption {
    visibility: visible;
    opacity: 1;
}

.project-thumb:hover img{
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.zoom{
    width:100%;
    height:100%;
    overflow: auto;
}

.line {
    padding: 0;
    width: 25%;
}

/* Page Section - About */

.page-section {
    margin-top: 5em;
}

.headshot {
    float: left;
    max-width: 30%;
    margin: 0em 5em 25em 0;
}

.page-section p {
    margin-right: 1em;
    color: #c7cdd4;
    font-size: 1.1em;
}

.page-section table {
    margin-top: 1em;
    font-size: 1.1em;
}

.page-section table th{
    padding: 0 2.5em 0 0;
    text-align: left; 
}

.page-section table td{
    padding: 0 2.5em 0 0;
    color: #c7cdd4;
}

.line_grey {
    padding: 0;
    width: 3%;
}

.page-section li {
    border: 1px solid #636c75;
    text-align: center;
    padding: 1.5em;
    margin: .2em;
    width: 20%;
    float: left;
}

.page-section li:hover {
    background: #636c75;
}

.page-section a {
    color: #c7cdd4;
}

.page-section a:hover{
    color: #fff;
}

/* Footer */

.page-footer {
    clear: left;
    color: #636c75;
    font-size: .7em;
    text-align: right;
    padding: 1em;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
